header {
	padding: 3em 0;
}
header img {
	height: 4em;
	margin-bottom: 3em;
}
header p {
	color: #777;
}
footer {
	padding: 2em 0;
	margin-top: 3em;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size: .8em;
}